body{
  background-color: $light-gray;

}

.contain{

  h1 {
    font-size: $h1-lg
  }

  h2 {
    font-size: $h2-lg
  }

  h3 {
    font-size: $h3-lg
  }


  background-color: $background-color;

  input{
    border: none;
    background-color: $background-color}


  display: grid;
  grid-template-columns: 1fr 12fr 1fr ;


}

.side{
  background-color: $light-gray
}

@media (max-width: 500px) {
  .contain{
    grid-template-columns: 0fr 1fr 0fr ;
  }

}


