body{
  background-color: $light-gray;

}

.con{
  height: 100%;
  border-color:red;

  h1 {
    font-size: $h1-lg
  }

  h2 {
    font-size: $h2-lg
  }

  h3 {
    font-size: $h3-lg
  }


  background-color: $background-color;

  input{
    border: none;
    background-color: $background-color}


  display: grid;
  grid-template-columns: 1fr 12fr 1fr ;



}

.side{
  background-color: $light-gray
}

.middle{
    min-height: 100vh;
    padding:0 8% 8% 8%;
}

//media-queries

@media (min-width: 1500px) {
  .con{
    grid-template-columns: auto 1300px auto ;
  }

}


@media (max-width: 800px) {

  .middle{

    h1 {
      font-size: 2.5rem;
           }
    h2 {
      font-size: 1.8rem;
    }

    h3 {
      font-size: 1rem;
    }
  }
}




@media (max-width: 500px) {
  .con{
    grid-template-columns: 0fr 1fr 0fr ;
  }

  .middle{

    h1 {
      font-size: 1.8rem;
           }
    h2 {
      font-size: 1.3rem;
    }

     h3 {
      font-size: 0.8rem;
    }
  }

}






