// Specific CSS for your home-page

.home{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  height: 100%


}

.home-header{
  margin: 5% 0;
  display:flex;
  justify-content: space-between;

}

.home-header-name{
  color: $base-color;
  text-align:center;
  min-width: 250px;
}

.home-main{
 margin: 5% 0;
}

.home-main-image img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin: 10px 0;
}

.home-main-super_categories{
  display:flex;
  justify-content: space-between;
  align-items:center;
  flex-wrap: wrap;
  color: $dark-gray;
}

.home-link{
  margin: 5% 0 ;
  a{
  text-align:center;
  text-decoration: none;
  color: $dark-gray;
  text-decoration: underline;
  }
}

.home-footer{
  margin: 5% 0 0 0;
}

.home-footer-top{
  text-align:center;
  color:$base-color;
}

.home-footer-bottom{
  display: flex;
  border-top: solid 1px $base-color;
  justify-content: center;
  padding:10px 0;

  h3{
    padding: 0px 8px;
  }
}




@media (max-width: 800px) {

  .home-main-top-image img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 10px 0;
}

}



