.super_category-name{
  background-color: $base-color;
  text-align:center ;
  color: #e8b93f;
  padding: 3%;
  border:double 5px $background-color;
}

.header-name{
  margin-top:1.5em;
}

.category-name{
  text-align:center;
  margin-top: 2em;
}

.country-wines{
  display: none
}

.country-wines.active {
  display: block
}

.country-selection{
  display: flex;
  flex-wrap: wrap;

}

.country-selection-button{
  margin: 3%;
  border: solid 1px $base-color
}

.country-selection-button.active{
  background-color: $base-color;
}

