.super_category-name{
  background-color: $base-color;
  text-align:center ;
  color: #e8b93f;
  padding: 3%;
  border:double 5px $background-color;
}

.header-name{
  margin-top:1.5em;
}

.category-name{
  text-align:center;
  margin-top: 2em;
}
