<div class="nav">
 <div class= "nav-list">
  <%= link_to root_path do %>
  <h4 class="nav-list-home">HOME</h4>
  <% end %>
  <% super_categories.each do |super_category| %>
    <h4> <%= button_to "#{super_category.name.upcase}", products_path, method: :get, params: {products: {super_category: super_category.name}}, class: "nav-list-item" %></h4>
  <% end %>
  <h4 class="nav-list-item">WARENKORB</h4>
  <span class="nav-list-burger"><i id="burger-icon" class="fas fa-bars"></i></span>
 </div>
</div>

<div class="sidebar-box">
  <div class="sidebar-grey"></div>
  <div class="sidebar">
    <div class= "sidebar-list">
     <h4 class="sidebar-list-home">HOME <i id="arrow-icon" class="fas fa-chevron-right"></i></h4>
     <% super_categories.each do |super_category| %>
       <%= button_to "#{super_category.name.upcase}", products_path, method: :get, params: {products: {super_category: super_category.name}}, class: "sidebar-list-item" %>
     <% end %>
     <h4 class="sidebar-list-item">WARENKORB</h4>
    </div>
    <div class="sidebar-footer">

    </div>
  </div>

</div>





