<div class="nav">
 <div class= "nav-list">
  <p class="nav-home">Home</p>
  <% super_categories.each do |super_category| %>
    <%= button_to "#{super_category.name}", products_path, method: :get, params: {products: {super_category: super_category.name}}, class: "nav-item" %>
  <% end %>
  <p class="nav-item">Warenkorb</p>
  <p class="nav-burger"><i class="fas fa-bars"></i></p>

 </div>
</div>


