<div class="container">
  <div class="home-header">
    <div class="home-header-image"></div>
    <div class="home-header-name">
      <h1>BARTHEL & SOHN</h1>
      <h2>WEIHNFACHHANDEL MÜNCHEN SCHWABING</h2>
    </div>
    <div class="home-header-empty"></div>
  </div>
  <div class="home-main">
    <div class="home-main-top">
      <div class="home-main-top-super_categories">
        <% @super_categories.each do |super_category| %>
            <h3><%= button_to "#{super_category.name.upcase}", products_path, method: :get, params: {products: {super_category: super_category.name}}, class: "home-main-top-super_categories-item" %></h3>
        <% end %>
      </div>
      <div class="home-main-top-image">

      </div>
    </div>
    <div class="home-main-middle"></div>
    <div class="home-main-botton"></div>
  </div>
  <div class="home-footer">

  </div>


</div>
