



<% @super_categories.each do |super_category| %>
  <h1><%= super_category.name %></h1>
  <% super_category.categories.each do |category| %>
      <%= simple_form_for :category, url: products_path, method:"GET" do |f| %>
        <% f.input :category, input_html: {value: category.name }  %>
        <%= f.submit "#{category.name }"%>
      <% end %>

  <% end %>

<% end  %>
