.country-selection {
  display: flex;
  align-items: center;
  margin-top:5%;


}

.country-selection-card {
  display: flex;
  min-width: 100px;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  border: double 3px #007a53;
  margin: 2% 2%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.03);
  padding: 3px;
  border-radius: 1px;
  background-color: $background-color;
}

.country-selection-card:hover {
  border-color: #495057;
  background-color: #f8f9fa;
}

.country-selection-card img {
  height: 60px;
  width: 60 px;
  object-fit: cover;
}


.country-selection-button{
  margin: 3%;
  text-align:center;
  padding: 3px
}

.country-selection-card.active{
  background-color: #f8f9fa;
  border-color: #495057
}
