.nav{
  background: white;
  border-bottom: green ;
}

.nav-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  height: 60px;
}

.nav-burger {
  display: none;

}

@media (max-width: 1000px) {
.nav-list {
  display: flex;
  justify-content: space-between;
}

  .nav-item {
      display: none;
    }

  .nav-burger {
  display: block;
  width: 40px;
  margin: 0.5em;
  align: right;
  }

}
