.nav{
  background: $background-color;
  border-bottom: solid 1px $base-color ;
  color: $base-color;
  position: sticky;
  width:100%;
  top:0;
  z-index: 100;
}

.nav-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}


.nav-list-home{
  h3{
    margin: 0;
  }

  a {
    color:$base-color;
  }

}

.nav-list-burger {
  display: none;

}



@media (max-width: 1000px) {
  .nav-list {
    display: flex;
    justify-content: space-between;
  }

  .nav-list-item {
      display: none;
    }



  .nav-list-burger {
  display: block;
  width: 1rem;
  margin: 0;
  }

}

.sidebar {
  display: flex;
  color: $light-gray;
  position: absolute;
  padding: 10px  0px ;
  top: 0px;
  right: 0px;
  width: 0%;
  height: 100vh;
  background: $base-color;
  flex-direction: column;
  justify-content:space-between;
  transition: all 1s ease;
  z-index: 200;

   p {
    margin:12px;
   }

}

.sidebar input{
    border: none;
    background-color: $base-color;
    color: $background-color;
    padding: 0;
    margin: 10px;
  }

.sidebar.active{
  width: 80%;
  position: fixed;
  top:0;

}

.sidebar-box{
  display: flex;
}

.sidebar-grey{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display:none;
  height: 100vh;
  background-color: #4e4e4e91;
  z-index: 200;
}


.sidebar-grey.active{
  display: block;
  position: fixed;
  top:0;
}

.sidebar-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 80%;
  overflow: hidden;
}

.sidebar-list-home {
  display: flex;
  justify-content: space-between;
}


.sidebar-list-item{
  margin: 10px;
}


.sidebar-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 30%;
}

.sidebar-footer-top{
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em;
  text-align:center
}

.sidebar-footer-bottom{
  display: flex;
  border-top: solid 1px $background-color;
  padding: 1em;
  justify-content: space-around;
  flex-wrap: wrap;
}

.nav-dropdown{
  display: flex;
  flex-direction: column;
  transition: all 5s ease;
  position: relative;
}

.nav-dropdown-bottom {
  position: absolute;
  top: 0em;
  left: -8px;
  z-index: 400;
  display: none;
  transition: all 5s ease;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  input{
    padding:8px;
    color: $base-color;
  }
}

.nav-dropdown-bottom.active {
  display: block;
  top: 2.1em;
  background-color: $background-color;


}

.nav-dropdown-bottom-item {
  margin-top: 0.5em;

}

.nav-dropdown-bottom-item:hover {
  transform: scale(1.1)
}


