.card-product {
  min-height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.03);
  display: flex;
  align-items: center;
  margin: 5% 0;
  position: relative

}

.card-product img {
  height: 120px;
  width: 80px;
  object-fit: cover;
}

.card-product h3 {
  font-size: 16px;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product-infos{
  width: 100%;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
}

.card-product-infos-top{
  display:flex;
  justify-content: space-between;
  align-items: baseline;
}

.card-product-infos-bottom{
  display:flex;
  justify-content: space-between;
}
.card-product-infos-middle{
  width:90%
}

.card-product-infos-bottom-button{
  background-color: transparent;
  border: transparent;
}

.card-product-infos-bottom-right{
  display:flex;
  align-item: center;
}

.card-product-special-fresh{
  position: absolute;
  top: -10px;
  right: 15px;
  background-color:$base-color ;
  color: $gold;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
}

.popup{
  position: absolute;
  background-color: $light-gray;
  width: 200px;
  height: 140px;
  z-index: 50;
  top: -10px;
  right: 0px;
  border-radius: 3px;
  text-align:center;
  display:none;
  flex-direction:column;
  justify-content: space-between;
  padding: 10px;
   h4{
    margin: 0px
  }

  p{
    margin: 0px
  }

}

.popup-close{
  text-align:right;
  p{
    margin: 0px
  }
}

.popup-rating{
  display:flex;
  justify-content: space-around;
  align-items: center;

}

.popup.active{
  display:flex;
}
